@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<form method="post">
    <input type="hidden" name="UserId" value="@Model.UserId" />
    <input type="text" name="Name" value="@Model.Name" class="form-control" placeholder="Name" />
    <span class="text-danger">@Html.ValidationMessage("Name")</span>
    <input type="email" name="Email" value="@Model.Email" class="form-control" placeholder="Email" />
    <span class="text-danger">@Html.ValidationMessage("Email")</span>
    <input type="password" name="Password" value="@Model.Password" class="form-control" placeholder="Password" />
    <span class="text-danger">@Html.ValidationMessage("Password")</span>
    <input type="submit" value="Update" class="btn btn-success" />
</form>